body{
	background-color: lightgray;
}

img{
	height: 200px;
	position: absolute;
	top: 55px;
	right: 10px;
}	
.secciones{

	border-bottom:1px dotted black ;
	padding-bottom: 10px;
}
h1{
	text-align: center;
	font-size: 48px;
	margin-bottom: 100px;
}
